ChunKai/GaussianProcess.pyc
ChunKai/mutil.pyc
ChunKai/Vis2d.pyc
ChunKai/.idea/.name
ChunKai/.idea/ChunKai.iml
ChunKai/.idea/misc.xml
ChunKai/.idea/modules.xml
ChunKai/.idea/vcs.xml
ChunKai/.idea/workspace.xml
ChunKai/tests/
*.png
.idea/modules.xml
.idea/
*.pyc
log.txt
ChunKai/testsBeta
testsBeta_0204
ChunKai/new_tests/
ChunKai/old_tests/
tests_old
src/tests_2
src/testsBetaCosines
src/testsBetaNew
testsBetaCosines
working_tests
src/testsAAAI
testsAAAI
tests20
tests50
tests50_4
src/test.txt
d150_log.txt
tests4-simulated-AD
testsBeta3
releaseTests/simulated/testsBeta2
testBeta2_10k
hypers_log_18.txt
testsRoad/
testsRoad_upd/
testsRoad2
testsRoadBeta/
testsRoadBeta2
testsRoadBeta1
testsRoadBeta22
testsRoadBeta2_upd
releaseTests
testsRoad_4
