ChunKai/GaussianProcess.pyc
ChunKai/mutil.pyc
ChunKai/Vis2d.pyc
ChunKai/.idea/.name
ChunKai/.idea/ChunKai.iml
ChunKai/.idea/misc.xml
ChunKai/.idea/modules.xml
ChunKai/.idea/vcs.xml
ChunKai/.idea/workspace.xml
ChunKai/tests/
.idea/modules.xml
.idea/
*.pyc
log.txt
ChunKai/testsBeta
testsBeta_0204
ChunKai/new_tests/
ChunKai/old_tests/
tests_old
src/tests_2
src/testsBetaCosines
src/testsBetaNew
testsBetaCosines
working_tests
src/testsAAAI
testsAAAI
tests20
tests50
tests50_4
src/test.txt
d150_log.txt
tests4-simulated-AD
testsBeta3
releaseTests/simulated/testsBeta2
testBeta2_10k
hypers_log_18.txt
testsRoad/
testsRoad_upd/
testsRoad2
testsRoadBeta/
testsRoadBeta2
testsRoadBeta1
testsRoadBeta22
testsRoadBeta2_upd
releaseTests
testsRoad_4
tests/
testsRoadBeta3
testsRoadBeta32
simulatedBeta2/
simulatedBeta3/
old_simulated_beta_tests/
testsRoad_44/
testsRoadBeta3_new/
old_last_Beta3
last_Beta3
result_graphs/eps
copy_beta3
zero_last_Beta3/seed0
zero_last_Beta3
anytime
4anytime
mle
5anytime
6anytime
7anytime
tests2full
21testsfull
7anytime_copy
8anytime
9anytime
datasets/old_robot
robot/
robot_tests
line.gif
mmmle_h1
vizualizations
unused_datasets
datasets/intel-robot/neighbours.txt
datasets/intel-robot/labapp3-data-new.txt
datasets/intel-robot/coordinates.txt
robot_beta3_rewards.eps
robot_beta2_rewards.eps
robot16_total_rewards.eps
robot_h2_full_total_rewards.eps
road_tests
result_graphs/eps copy
result_graphs/folders
intel_lab_circled.eps
tests3
logs
simulated_tests
noise_robot_tests
test.eps
result_graphs/old_node_files
result_graphs/node_files
new_road_tests
copy.sh
a_robot
ch_r.py
templates/
tests4
sim
sim-dataset
sim-fixed
sim-fixed-temp
additional
simulated-b1-h4
h4-b1
sim-fix-template
rollout_3
rollout_1
/src/old_scripts/
alg_tests.py
/old_scripts/
/old/
/result_graphs/
/result_graphs/png/
Code Tests/branin-generate/hypers
branin_1600points.txt
branin_1600points_inverse_sign.txt
branin_1600points_inverse_sign_normalised.txt
branin_1600points_inverse_sign_normalised.csv
branin_400points_inverse_sign_normalised.txt
